@font-face {
	font-family: 'Lora';
	src: url('font/Lora-VariableFont_wght.woff2') format('woff2'),
	     url('font/Lora-VariableFont_wght.woff') format('woff'),
	     url('font/Lora-VariableFont_wght.tff') format('truetype');
}
body { 
	overflow: hidden; 
}
#panels {	
	width: 100%; 
/*	height: calc(100% - 25px); */
}
/* MENUS */
#menu_container {
	margin-left: 25%;
	width: 50%;
	height: 5px;
	overflow: hidden;
	background-color: red;
	transition: background-color 60s;
	display: flex;
	justify-content: center;
}
#top_menu {
	display: block;
	position: absolute;
	height: 25px;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	z-index: 1000;
}
.menu_item {
	padding: 3px;
	border: 1px;
	border-style: solid;
	border-color: #ccc;
	cursor: move;
	font-family: 'sans-serif';
	font-variation-settings: 'wght' 500;
}
#top_menu.menu_item {
	width: 20%;
}
/* BUTTONS */
.help_button {
	background-color: #fdd;
	color: #000;
	font-weight: bold;
}
.overview_button {
	background-color: #efd;
	color: #006;
}
.preview_button {
	background-color: #fce;
	color: #030;
}
.summary_button {
	background-color: #fde;
	color: #003;
}
.predict_button {
	background-color: #fee;
	color: #009;
}
#reset_button {
	background-color: #000;
	color: #fff;
	cursor: pointer;
	font-weight: bold;
}
.spare_buttons {
	width: 60%;
	padding: 5pt;
	margin: 5pt;
	display: inline-block; 
}
#help_button_help {		display: inline-block; margin: 2pt; }
#overview_button_help {		display: inline-block; margin: 2pt; }
#preview_button_help {		display: inline-block; margin: 2pt; }
#summary_button_help {		display: inline-block; margin: 2pt; }
#predict_button_help {		display: inline-block; margin: 2pt; }
.spare_buttons#reset_button {	display: inline-block; margin: 2pt; }
/* CONTAINERS */
.overview_map {
	height: 100%;
	width: 100%;
}
.summary {
	position: relative;
	height: 100%;
	width: 100%;
}
.summary_selector {
	position: absolute;
	width: 650px;
	top: 0;
	left: 0;
	padding-top: 20px;
}
.predict {
	height: 100%;
	width: 100%;
}
.preview {
	position: relative;
	height: 100%;
	width: 100%;
}
.preview_selector {
	position: absolute;
	width: 350px;
	top: 0;
	left: 0;
	padding-top: 20px;
}
.help_container {
	overflow: auto;
	height: 100%;
	padding-bottom: 50pt;
	margin-bottom: 50pt;
	font-family: 'Lora';
	background-color: rgb(245,245,245);
}
.help_container .small {
	width: 60%;
	font-size: x-small;
	font-variation-settings: 'wght' 500;
}
.help_container .nav {
	padding-top: 10pt;
	padding-bottom: 10pt;
	width: 60%;
	font-size: small;
}
.help_container .text {
	width: 80%;
	text-align: justify;
	font-variation-settings: 'wght' 400;
}
.help_container .text b {
	font-variation-settings: 'wght' 600;
}
.help_container ul.text {
	width: 70%;
	padding-right: 5%;
	text-align: justify;
}
.lga_info {
	position: relative;
	width: 100%;
	left: 10pt;
	top: -10pt;
	height: 30pt;
	padding-top: 5pt;
	padding-bottom: 5pt;
	padding-right: 5pt;
	background: rgba(255,255,255,0.7);
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	border-radius: 5px;
	text-align: right;
}
.infobox_name {
	font-weight: bold;
	font-size: larger;
	font-family: 'sans-serif';
	}
.infobox_r {
	text-align: center;
}
